**/node_modules
**/.idea
**/.vite
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/.git
**/.github
**/.gitignore
**/README.md
**/.env
**/.venv
**/venv/
**/.pytest_cache
**/.mypy_cache
**/.coverage
**/.DS_Store
**/htmlcov/
**/.tox/
**/.cache
**/nosetests.xml
**/coverage.xml
**/*.log
kb-storage
kdcube-storage
data/
tmp/
